* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 0;
}

header {
    .navbar-nav {

        li {
            a:hover {
                background-color: #007bff;
            }
        }

    }

    .user {
        margin-right: 30px;

        .login {

            // align-items: center;
            a {
                text-decoration: none;
                color: #fff;

                i {
                    padding: 10px;
                    align-items: center;
                    // display: block;
                }

                i:hover {
                    background-color: #007bff;
                }
            }

        }

        .shopping {
            a {
                text-decoration: none;
                color: #fff;

                i {
                    padding: 10px;
                    align-items: center;
                }

                i:hover {
                    background-color: #007bff;
                }
            }
        }
    }
}

section {
    .wrap__tittle {
        height: 30px;
        text-align: center;
        background-color: #cfe0f1;
    }

    .content {
        margin-top: 20px;

        h4 {
            margin-top: 10px;
        }

        .searchSP {
            padding: 10px;
        }

        .left {
            padding: 20px;
            box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
            border-radius: 10px;
            height: 620px;
        }

        .row {
            .search__input {
                margin-left: 50px;
            }

            .activities {
                padding: 10px;

                button {
                    margin-left: 10px;
                }
            }
        }

        .RamSP {
            .col {
                .row {
                    .item {
                        padding: 8px 10px;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        color: #007bff;
                        border-radius: 8px;
                        margin: 5px;
                        width: 28%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        user-select: none;
                        font-size: 1rem;
                    }
                }
            }
        }

        .right {
            h5 {
                font-size: 14px;
            }

            padding: 20px;

            .card {
                display: block;
                // margin: 8px;
                text-align: center;

                a {
                    text-decoration: none;
                    border: 1px solid black;
                    padding: 5px 10px;
                    color: #fff;
                    background: #007bff;
                }

                a:hover {
                    opacity: 0.5;
                }

                #idProduct {
                    margin-bottom: 0;
                    margin-top: 20px;
                    color: #007bff;
                    font-weight: 800;
                }
            }

            .the_sp {
                margin-bottom: 10px;
            }
        }
    }
}

////ChiTiet
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 0;
}

header {
    .navbar-nav {

        li {
            a:hover {
                background-color: #007bff;
            }
        }

    }

    .user {
        margin-right: 30px;

        .login {

            // align-items: center;
            a {
                text-decoration: none;
                color: #fff;
                i {
                    padding: 10px;
                    align-items: center;
                    // display: block;
                }

                i:hover {
                    background-color: #007bff;
                }
            }

        }

        .settingAdmin {
            a {

                text-decoration: none;
                color: #fff;

                i {
                    padding: 10px;
                    align-items: center;
                }

                i:hover {
                    background-color: #007bff;
                }
            }
        }

        .shopping {
            a {
                text-decoration: none;
                color: #fff;

                i {
                    padding: 10px;
                    align-items: center;
                }

                i:hover {
                    background-color: #007bff;
                }
            }
        }
    }
}

.TTCT {
    margin-top: 20px;

    h4 {
        color: #007bff;
    }
}

.content_SP {
    margin-top: 50px;

    .right {
        .row {
            .col-2 {
                p {
                    padding: 10px;
                    border-radius: 5px;
                    display: inline-block;
                    border: 1px solid #007bff;
                    color: #007bff;
                    font-weight: 600;
                }
            }
        }

        h5 {
            color: #007bff;
        }

        .dollar {
            color: #007bff;
        }

        .truck {
            color: green;
        }

        .ring {
            color: red;
        }

        .Add {
            ul {
                li {
                    list-style: none;
                }
            }

            button {
                margin: 10px;
                border-radius: 5px;
                border: 1px solid #007bff;
            }

            p {
                display: inline-block;
                padding: 15px;
                // border: 1px solid #007bff;
                // border-radius: 5px;  cl
            }
        }

    }
}
//left
.left{
    .filter-box-item{
        margin: 10px 0px;
    }
    
    .filter-name{
        display: flex;
    }
    
    .search-bar{
        width: 100%;
    }
    
    .search-bar input{
        padding: 12px;
        width: 100%;
        border: 1px solid rgba(0,0,0,0.2);
        outline-color: #007bff;
        border-radius:5px;
        font-size: 16px;
    }
    
    
    .search-bar input::placeholder{
        font-size: 14px;
    }
    
    .search-btn{
        background-color: #007bff;
        padding: 0px 15px;
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
    
    .search-btn:hover{
        background-color: #0e4d91;
    }
    
    .filter-text{
        font-size: 1.3rem;
        margin: 5px;
        color: #007bff;
    }
    
    .filter-group{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    
    .filter-group-item{
        padding: 8px 10px;
        border: 1px solid rgba(0,0,0,0.2);
        color: #007bff;
        border-radius: 8px;
        margin: 5px;
        width: 28%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        font-size: 1rem;
    }
    
    .filter-group-item:hover{
        background-color: #007bff;
        color: white;
        transition: background-color 0.3s linear;
    }
    
    .filter-group-item.active{
        color: white;
        background-color: #007bff;
    }
    
    .filter-price-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin: 10px 0px;
    }
    
    .price-item{
        width: 47%;
    }
    
    .price-item input{
        padding: 12px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.2);
        outline-color: #007bff;
    }
    
    .btn-reset-all{
        text-align: center;
        background-color: rgb(211, 77, 77);
        width: 100px;
        padding: 10px;
        margin: 0 auto;
        color: white;
        cursor: pointer;
        user-select: none;
        border-radius: 5px;
        margin-top: 25px;
    }
    
    .btn-reset-all:hover{
        background-color: rgb(197, 68, 68);
    }
    
}